<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <h1>URL Shortener</h1>

        <!-- URL Generated Message -->
        <% if (locals.id) { %>
            <p class="generated-url">URL Generated: <a href="http://<%= req.headers.host %>/url/<%= id %>"
                target="_blank"><%= req.headers.host %>/url/<%= id %></a></p>
        
            <% } %>

                <!-- URL Input Form -->
                <form method="POST" action="/url">
                    <label for="url-input">Enter Your Original URL</label>
                    <input type="text" id="url-input" name="url" placeholder="https://example.com" required>
                    <button type="submit">Generate</button>
                </form>

                <!-- Table of URLs -->
                <div>
                    <% if (locals.urls) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Short ID</th>
                                    <th>Redirect URL</th>
                                    <th>Clicks</th>
                                    <th>Direct Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% urls.forEach((url, index)=> { %>
                                    <tr>
                                        <td>
                                            <%= index + 1 %>
                                        </td>
                                        <td>
                                            <%= url.shortId %>
                                        </td>
                                        <td><a href="<%= url.redirectURL %>" target="_blank">
                                                <%= url.redirectURL %>
                                            </a></td>
                                        <td>
                                            <%= url.visitHistory.length %>
                                        </td>
                                        <td>
                                            <a href="http://localhost:8001/<%= url.shortId %>" target="_blank">Go to Site</a> <!-- Direct link -->
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                           
                        </table>
                        <% } %>
                </div>
    </div>
</body>

</html>